@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto+Slab&family=Roboto:ital,wght@1,300;1,400&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif;
}

:root {
  --first-color: #69665c;
  --second-color: #B2AFA1;
  --third-color: #FFF9DE;
  --fourth-color: #ffffff;
  --fifth-color: #D1E5F7;
  --sixth-color: #DAF2D6;
  --sevan-color: #FFCECE;
  --eight-color: #D3CEFF;

}

/* =================================loder css====================== */
.Loder {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-color);
}

span {
  font-size: 60px;
  letter-spacing: 3px;
}

/* ===================================getstart css======================== */
.GetStart {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;

}


.main {
  width: 600px;
  height: 100vh;
  display: grid;
  place-content: center;
  place-items: center;
  margin-top: 100px;

}

.todo {
  font-size: 60px;
  letter-spacing: 3px;

}

#t {
  color: var(--fifth-color);
}

#o {
  color: var(--sevan-color);
}

#d {
  color: var(--sixth-color);
}

#O {
  color: var(--eight-color);
}

p {
  padding: 20px 0px;
  color: var(--first-color);
  line-height: 25px;
}

#btn {
  padding: 5px 20px;
  font-size: 15px;
  color: var(--fourth-color);
  background-color: var(--first-color);
  outline: 0px;
  border: 0px;
  border: 1px solid var(--first-color);
  border-radius: 5px;
}


img {
  width: 300px;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-inline: 80px;
}

#h {
  font-size: 40px;
  cursor: pointer;
}

.body {
  display: flex;
  /* justify-content: space-between; */
  margin-inline: 80px;

}

li:hover {
  color: var(--fifth-color);
  cursor: pointer;
}

li {
  list-style: none;
  margin-left: 45px;
  margin-top: 30px;
}


.dot1 {
  height: 35px;
  width: 35px;
  background-color: var(--sixth-color);
  border-radius: 50%;
  /* margin-left: 100px; */
}

.dot2 {
  height: 35px;
  width: 35px;
  background-color: var(--sevan-color);
  border-radius: 50%;
  /* margin-left: 100px; */
}

.dot3 {
  height: 35px;
  width: 35px;
  background-color: var(--eight-color);
  border-radius: 50%;
  /* margin-left: 100px; */
}

.dot4 {
  height: 35px;
  width: 35px;
  background-color: var(--fifth-color);
  border-radius: 50%;
  /* margin-left: 100px; */
}

#hide {
  position: relative;
  top: 25%;
  font-size: 16px;
}

/* ============================card design================ */
.card {
  /* display: grid;
  grid-template-columns: auto auto;
  
   */
  display: flex;
  margin-left: 200px;
  flex-wrap: wrap;
}

.main-card {
  border: 0px;
  border-radius: 5px;
  width: 430px;
  background-color: var(--third-color);
  margin: 10px;
  padding: 20px;
  margin-bottom: 50px;

}

.first h1 { font-size: 20px;}

.cricle {  display: flex; gap: 10px;}

.sec { display: flex; justify-content: space-between;}

h6 {font-size: 15px; }
#trippledots{font-size: 25px; cursor: pointer; line-height: 5px;}

.first { display: flex; justify-content: space-between;margin: 0px;}


/*=============popup model=============================== */
.popup-model {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid; */
  /* background-color: var(--fourth-color); */
  width: 800px;
  border-radius: 5px;
  /* padding: 20px; */
  border-radius: 7px;
  background: var(--fourth-color);
  box-shadow: 29px 29px 57px #bebebe,
    -29px -29px 57px #ffffff;
  z-index: 2000;
}

.m { display: flex; justify-content: space-between; margin-inline: 40px;}

#close { font-size: 20px; cursor: pointer;}

h3 {padding: 8px;}

li { line-height: -150px;}

.inp-group {margin-left: 50px; padding: 10px;}

input {
  border: 0px;
  outline: 0px;
  /* border: 1px solid; */
  width: 700px;
  padding: 15px;
  background-color: var(--eight-color);
  border-radius: 5px;
}

#inpt { height: 150px;}

.tags {margin-left: 50px; padding: 20px;}

.t { display: flex;gap: 130px;/* justify-content: center; */}

h5 { margin-left: 40px;}

h5:hover {color: var(--eight-color); cursor: pointer;}

/* ===========================small popup css========================= */
.Edit-delte{
  padding: 0px;
  position: absolute;
  left: 50%;
  /* border: 1px solid; */
  background-color: var(--fourth-color);
  z-index: 1;
  padding-inline: 15px;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}

#smallpopup{ padding: 0px;font-size: 15px;}

#smallpopup:hover{ color: var(--eight-color);}

/* ===============================edit popup============== */
 .EditPopup{ position: absolute;
  left: 50%;
  top: 250%;
  transform: translate(-50%, -50%);
  width: 800px;
  border-radius: 5px;
  border-radius: 7px;
  background: var(--fourth-color);
  box-shadow: 29px 29px 57px #bebebe,
    -29px -29px 57px #ffffff;
  z-index: 2000;
 }